label {
   display: inline-block;
   text-align: left;
   width: 215px;
}

input {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

form {
    margin: auto;
    width: 520px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding-left: 40px;
}

button {
    margin-left: .5em;
}

form div {
    margin-top: 10px;
}